@import "./common.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
  }


h1 {
    @include h1-style;
  }
  
  h2 {
    @include h2-style;
  }
  
  p {
    @include paragraph-style;
  }
  
  a {
    text-decoration: none;
    color: navy;
  }